/* index.css */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
      font-size: 14px;
      line-height: 1.7;
      color: #999999;
      overflow-x: hidden;
  }

/* Making the navbar responsive. */
@media screen and (max-width: 1200px) {
    .navbar {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

 
 /* Styling the Notification's dropdown menu. */
 .notification-dropdown {
    position: absolute;
    right: 60px;
    top: 45px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
    width: 250px;
  }
  
  .notification-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .notification-dropdown li a {
    color: black;
    text-decoration: none;
  }
  
  .notification-dropdown li a:hover {
    color: #1a73e8;
  }
  
  .notification-dropdown li:not(:last-child) {
    margin-bottom: 8px;
  }

  /* -- Styling the Navigation Bar **/






/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
}

.logo img {
    max-width: 100px;
}
  
 /* Aligning the search bar to the right. */
  .navbar form {
    margin-left: auto;
  }
  
  .notification-badge {
    position: relative;
  }
  
 /* Styling the notification badge. */
  .notification-badge::after {
    content: attr(data-count);
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 50%;
  }

/* Making the user name clickable. */
  .user-name {
    cursor: pointer;
}

/* Styling the dropdown menu. */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 8px;
    list-style-type: none;
    margin: 0;
    right: 0;
    z-index: 1000;

}

.dropdown-menu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}




/* Hiding the navLinks. */
.navLinks {
    display: none;
    background-color: #000;
  }
  
 /* Aligning the profile picture and the user name to the right. */
  .authLinks {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .authLinks li {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .authLinks li:hover .dropdown-menu,
  .authLinks li:focus-within .dropdown-menu {
    display: block;
  }
  
  
 /* Styling the profile picture. */
 .user-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}


/* Styling the dropdown menu. */


/* Search bar container */
.d-inline-flex {
    position: relative;
}

/* Search input field */
.form-control {
    width: 400px;
    height: 25px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 50px;
    outline: none;
    border: 1px solid #ccc;
}

/* Search icon */
.btn-outline-secondary {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-right: 15px;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
}

/* Change the search icon color on hover */
.btn-outline-secondary:hover {
    color: #333;
}

  
  /* --- Sidebar Styling ---*/

  
  .sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: azure;
    padding: 20px 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: auto;
  }
  
  .sidebar ul {
    list-style: none;
    padding-left: 0;
  }
  
  .sidebar ul li {
    padding: 15px 0;
  }
  
  .sidebar ul li a {
    color: #000;
    text-decoration: none;
    font-size: larger;
  }
  
  .sidebar ul li ul {
    padding-left: 20px;
  }
  
    .sidebar ul li ul li {
        padding: 10px 0;
    }

    .sidebar a {
        text-decoration: none;
        color: #000;
    }
    
    .sidebar a:hover, .sidebar a.active {
        background-color: #f1f1f1;
    }


/* --- Main Content Styling --- */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.main-content-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

}

.main-content-text {
  flex: 1;
  padding-right: 50px;
  
  
}

.main-content-text h1 {
  font-size: 30px;
  font-weight: 700;
  color: #333333;
}

.main-content-text p {
  font-size: 18px;
  font-weight: 400;
  color: #555555;
}

.main-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 0px 260px;
}

.main-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.main-sections-text {
  flex: 1;
  padding-right: 20px;
}

.main-sections-text h1 {
  font-size: 30px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 20px;
}

.main-sections .main-box {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background-color: whitesmoke;
  margin: 15px;
  float: left;
  overflow: hidden;
  border-radius: 10px;
}

.main-sections .main-box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  transition: 0.5s;
  z-index: 1;
}

.main-sections .main-box:hover .icon {
  top: 20px;
  right: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.main-sections .main-box .icon .fa-solid {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  transition: 0.5s;
  color: #29a0e7;
}

.main-sections .main-box:hover .icon .fa-solid {
  font-size: 40px;
}

.main-sections .main-box .main-text {
  position: absolute;
  top: 100px;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  transition: 0.5s;
  color: black;
  z-index: 2;
}

.main-sections .main-box .main-text h2{
  margin: 0;
  padding: 0;
  color: #29a0e7;
  font-size: 30px;
}


.main-sections .main-box:hover .main-text {
  top: 50%;
  transform: translateY(-50%);
}

.main-sections .main-box .main-content-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  z-index: 2;
}

.main-sections .main-box:hover .main-content-button {
  bottom: 20px;
}

.main-sections .main-box .main-content-button a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #29a0e7;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.5s;
}

.main-sections .main-box:hover .main-content-button a {
  background-color: #333;
}



table { 
	width: 1200px; 
	border-collapse: collapse; 
	margin: 0 250px;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}