
/* --- Main Page Styling ---  */
html, body {
  height: 100%;
}



body {
  background-color: whitesmoke;
  margin: 0;
  padding: 30px 10px;
  font-family: nue Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  transition: background .4s ease-in;
  display: flex;
  flex-direction: column;
}

/* --- Navigation Bar --- */

/* Set background color and general style for the navbar */
.navbar {
  background-color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Set the layout for the nav container */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* --- Logo --- */

/* Set the height for the logo image */
.logo img {
  height: 40px;
}

/* --- NavLinks --- */

/* Set the display properties for the navLinks container */
.navLinks {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  justify-content: center;
}

/* Set the style for the navLinks items */
.navLinks a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
  padding: 10px;
}

/* Remove extra margin from the last navLinks item */
.navLinks a:last-child {
  margin-right: 0;
}

/* Set the hover effect for the navLinks items */
.navLinks a:hover {
  color: #a094d4;
}

/* --- Authentication Links Styling --- */
.authLinks {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.authLinks li {
  margin-left: 20px;
}

.loginLink {
  font-size: 16px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
}

.loginLink:hover {
  color: #5a5a5a;
}

.tryForFreeLink {
  font-size: 16px;
  color: #ffffff;
  background-color: #a094d4;
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.tryForFreeLink:hover {
  background-color: #5a5a5a;
}


/* --- Search Bar Styling ---*/
/* Style the search bar container */
.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 60px;
}

/* Style the search bar form */
.searchBar form {
  display: flex;
  align-items: center;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  border-radius: 25px;
  background-color: white;
}

/* Style the search input field */
.searchBar input[type="text"] {
  padding: 10px;
  border: none;
  font-size: 12px;
  border-radius: 30px;
  width: 100%; /* Adjust the width as needed */
}

/* Style the search button */
.searchBar button[type="submit"] {
  padding: 10px;
  background-color: transparent; /* Remove background color */
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

/* Style the search icon */
.searchBar button[type="submit"] i {
  font-size: 12px;
}






/* --- Footer Styling --- */
footer {
  background-color: azure;
  padding: 20px 20px;
  font-size: 16px;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footerLinks,
.footerSocials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.footerLinks ul,
.footerSocials ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footerLinks li,
.footerSocials li {
  display: inline;
  margin: 0 10px;
}

.footerLinks a,
.footerSocials a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.footerLinks a:hover,
.footerSocials a:hover {
  color: #777;
}

.footerSocials i {
  font-size: 24px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}






